body {
  color: black;
  background: #fff;
  line-height: 1.4;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #ff003c;
  padding: 0.4rem 0.9rem;
  border: 3px solid #ff003c;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  color: #ff003c;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
/*Navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 0.75rem 2rem; */
  background: #ff003c;
  z-index: 1;
  color: #fff;
}
.navbar-header {
  display: flex;
  justify-content: space-around;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
}
.nav-logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  line-height: 4rem;
  color: #fff;
  transition: 0.3s ease-in-out;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.nav-links li:hover {
  background-color: #e50439;
  transition: 0.3s ease-in-out;
}

.show {
  height: 125px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .navbar-inner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
  }
}
/* Main */
.defaultMain,
.mainPhones {
  height: 725px;
  background: url("./images/phones5.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPhones {
  background-image: url("./images/phones2.jpg");
}
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.banner div {
  width: 15rem;
  height: 5px;
  background: black;
  /* margin: 1.7rem auto; */
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 10rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/*Loading*/
.loading h3 {
  margin-top: 2rem;
  text-transform: capitalize;
  text-align: center;
}
.loading-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Details Page*/
.title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/*Details*/
.details-row {
  --bs-gutter-x: 0;
}
/*Phone Page*/
.cart-item {
  position: relative;
  margin-bottom: 8rem;
}
.cart-body {
  object-fit: cover;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in-out;
  padding-bottom: 2rem;
}
.cart-item:hover .cart-body {
  box-shadow: 2px 3.5px 24px 0 rgb(18 16 11 / 31%);
  cursor: pointer;
}
.cart-body a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
.cart-image {
  object-fit: cover;
  height: 250px;
  margin-top: 2rem;
}
.cart-name {
  min-height: 25px;
  position: relative;
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
}
.cart-details {
  display: flex;
  justify-content: space-between;
}
.cart-item .price {
  line-height: 38px;
  font-weight: 600;
  font-size: 16px;
}
.cart-item .btn {
  color: #fff;
}
.cart-item .btn:hover {
  color: #e50439;
}
.cart-add {
  border: 1px solid #f0f1f2;
  border-top: 0.5px solid #f0f1f2;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  overflow-y: hidden;
  box-shadow: 1px 3px 11px rgb(0 0 0 / 8%);
  display: none;
  object-fit: cover;
  width: 100%;
  padding-top: 0.7rem;
  color: #000;
}
.cart-add ul li {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  list-style-type: square;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
}
.cart-add-details {
  font-weight: 600;
}
.cart-item:hover .cart-add {
  display: block !important;
}
/*Product*/
.product {
  margin-top: 10rem;
  text-transform: capitalize;
}
.product h2 {
  text-transform: uppercase;
}
.product ul {
  padding-left: 0;
  padding-top: 1rem;
}
.product ul li {
  position: relative;
  list-style-type: none;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  padding-left: 10px;
}
.product ul li:nth-child(2n + 1) {
  background-color: #f9fbfc;
}
.product-details {
  position: absolute;
  right: 10px;
}
.product .btn{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  margin-top: 2rem; 

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
